@charset "utf-8";
@import 'normalize';

$container-size: 960px;
$mobile-size: 480px;

@mixin sm() {
  @media screen and (max-width: $mobile-size){
    @content;
  }
}


@mixin md() {
  @media screen and (max-width: $container-size){
    @content;
  }
}


body {
  border-top: solid 14px #000;
  color: #212121;
  background: #fff;
  font: normal 14px/2.14 Georgia, 'Times New Roman', serif;
}

.container {
  max-width: $container-size;
  margin: 0 auto;
}
.mobile-margin{
  @include md() {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.center-text {
  width: 640px;
  margin: 20px auto;
  text-align: justify;
  @include md() {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

header{
  overflow: hidden;
}

sup {
  top: -0.25em;
}

h1,h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  line-height: 1;
}

header {
  margin: 20px 0;
}

.main {
  position: relative;
  .poster-container {
    position: relative;
    background-image: url('/images/poster.png');
    width: 100%;
    height: 560px;
    background-position: bottom;
    background-size: cover;
    @include md() {
      height: 360px;
    }
    @include sm() {
      height: 320px;
    }
  }

  .save-the-date{
    display: block;
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    // font-family: 'Sacramento', cursive;
    color: white;
    font-size: 6em;
    @include md() {
      font-size: 5em;
    }
    text-shadow: 0px 0px 6px rgba(black, 0.5);
    line-height: 0.6;
    text-align: center;
    position: absolute;
    right: 3%;
    bottom: 3%;
    .date {
      color: #FBD1FE;
    }
  }
  img {
    max-width: 100%;
  }
}


p {
  font-size: 18px;
  color: #222;
}

footer {
  padding: 20px;
  text-align: center;
}
