---
title: Talya & Yonatan - 21.06.2016
---
<div>
<div class='invite-container'>
  <img src='/images/invite-english.png'/>
</div>
<div class='invite-footer'>
  <div class='invite-footer__item'>
      <a href='https://iplan.co.il/he-IL/guest/SGla1SN/a/save_the_date.ics'>
        <i class="fa fa-calendar-o"></i>
        Add to calendar </a>
  </div>

  <div class='invite-footer__item web-only'>
      <a href='https://www.google.co.il/maps/dir//בית+על+הים,+Russlan+St+1,+Tel+Aviv-Yafo%E2%80%AD/@32.0554449,34.7527975,17z/data=!4m15!1m6!3m5!1s0x151d4cbee656bb77:0xc6e95ae7560889c8!2z15HXmdeqINei15wg15TXmded!8m2!3d32.0554404!4d34.7549862!4m7!1m0!1m5!1m1!1s0x151d4cbee656bb77:0xc6e95ae7560889c8!2m2!1d34.7549862!2d32.0554404'>
        <i class="fa fa-map-marker"></i>
        Navigate to venue </a>
  </div>

  <div class='invite-footer__item mobile-only'>
      <a href='waze://?ll=32.05948,34.75941&navigate=yes'><i class="fa fa-map-marker"></i>Navigate to parking </a>
  </div>
  <div class='invite-footer__item'>
    <a href='/invite'> <img src='/images/flag-IL.png' class="flag"/> Change language </a>
  </div>
</div>
</div>
