---
title: Talya & Yonatan - 21.06.2016
---
<div>
<div class='invite-container'>
  <img src='/images/invite-english.png'/>
</div>
<div class='invite-footer'>
  <div class='invite-footer__item'>
      <a href='https://iplan.co.il/he-IL/guest/SGla1SN/a/save_the_date.ics'> Add to calendar </a>
  </div>

  <div class='invite-footer__item'>
      <a href='waze://?ll=32.05948,34.75941&navigate=yes'> Navigate to parking </a>
  </div>
  <div class='invite-footer__item'>
    <a href='/invite'> <img src='/images/flag-IL.png' class="flag"/> Change language </a>
  </div>
</div>
</div>
