---
title: Talya & Yonatan - Save the Date - 21st June 2016
---

<div class="main">
  <div class='poster-container'>
    <div class='save-the-date'>
      Save the Date<br>
      <span class='date'>
      21.06.2016
    </span>
    </div>

  </div>
  <p class='center-text'>
    We are absolutely thrilled to invite you to the anticipated summer kick-off wedding of the year, to take place at
    <br/><br/>
    <a href='http://www.housea.co.il/' target="_blank">Bait Al Hayam</a><br/>
    <a href='http://www.elledecor.com/life-culture/travel/g317/tel-aviv-travel-guide/' target="_blank">Tel Aviv, Israel</a>
    <br/><br/>
    We would love to see and dance with you all. Kindly let us know below if you think you will be able to join us for this once in a lifetime event. 
    <br/><br/>
    <span class='align-right'>
    ❤  T&Y
  </span>
  </p>

  <hr>
  <div class='rsvp-form'>
  <h3> PRE-RSVP </h3>
  <form id="app" v-on:submit.stop.prevent='save'>
    <div class='error' v-if='errorMsg'>
      {{ errorMsg }}
    </div>
    <div class='form-group'>
      <input type='text' v-model="name" placeholder='Full Name'/>
    </div>
    <div class='form-group radio-group'>
      <h4> Are you coming? </h4>
      <div class='radio-opt'>
      <input type="radio" id="yes" value="yes" v-model="status"/>
      <label for="yes">Yes, defintely </label>
    </div><div class='radio-opt'>
      <input type="radio" id="maybe" value="maybe" v-model="status"/>
      <label for="maybe">Maybe, hopefully</label>
      </div><div class='radio-opt'>
      <input type="radio" id="no" value="no" v-model="status"/>
      <label for="no">No, sorry</label>
    </div>
    </div>
    <div v-if='rsvpd'  transition='expand'>
    <div class='form-group' v-if='coming'>
      <br/>
      <input type='number' number v-model='attendees' placeholder='# of People'/>
      <input type='email' v-model='email' placeholder='Your Email (Optional)'/>
      <br/><br/>
    </div>
    <div v-if='maybe'>
      <p> Thanks for letting us know </p>
    </div>
    <div v-if='notComing'>
      <p> That's OK, thanks for letting us know </p>
    </div>
    <input type='submit' value='Send'/ >
    <i class='fa fa-spinner fa-spin fa-grey' v-show='loading'></i>
    <i class='fa fa-check fa-green' v-show='done'></i>
  </div>

  </form>
</div>
</div>
