---
title: Talya & Yonatan - Save the Date - 21st June 2016
---

<div class="main">
  <div class='poster-container'>
    <div class='save-the-date'>
      Save the Date<br>
      <span class='date'>
      21.06.2016
    </span>
    </div>

  </div>
  <p class='center-text'>
    The wedding is happening in TLV
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus est mos, modo recte sentiat. In qua quid est boni praeter summam voluptatem, et eam sempiternam? Cur id non ita fit? Duo Reges: constructio interrete. Graece donan, Latine voluptatem vocant. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit?Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus est mos, modo recte sentiat. In qua quid est boni praeter summam voluptatem, et eam sempiternam? Cur id non ita fit? Duo Reges: constructio interrete. Graece donan, Latine voluptatem vocant. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit?
  </p>
</div>
