---
title: Talya & Yonatan - Save the Date - 21st June 2016
---

<div class="main">
  <div class='poster-container'>
    <div class='save-the-date'>
      Save the Date<br>
      <span class='date'>
      21.06.2016
    </span>
    </div>

  </div>
  <p class='center-text'>
    We are absolutely thrilled to invite you to the anticipated summer kick-off wedding of the year, to take place at
    <br/><br/>
    <a href='http://www.housea.co.il/' target="_blank">Bait Al Hayam</a><br/>
    <a href='http://www.elledecor.com/life-culture/travel/g317/tel-aviv-travel-guide/' target="_blank">Tel Aviv, Israel</a>
    <br/><br/>
    We would love to see and dance with you all. Kindly let us know below if you think you will be able to join us for this once in a lifetime event. 
    <br/><br/>
    <span class='align-right'>
    ❤  T&Y
  </span>
  </p>

  <hr>
  <div class='rsvp-form'>
  <h3> PRE-RSVP </h3>
  <form>
    <input type='text' id='name' placeholder='Your Name'>
    <input type='number' id='attendees' placeholder='# of People'>
    <input type='email' id='email' placeholder='Your Email (Optional)'>
    <input type='submit'/ >
  </form>
</div>
</div>
