---
title: Talya & Yonatan - Save the Date - 21st Jun 2016
---

<div class="main">
  <div class='save-the-date'></div>
  <img src="/images/pic-1.png"/>
  <p>
    The wedding is happening in TLV
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus est mos, modo recte sentiat. In qua quid est boni praeter summam voluptatem, et eam sempiternam? Cur id non ita fit? Duo Reges: constructio interrete. Graece donan, Latine voluptatem vocant. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit?Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus est mos, modo recte sentiat. In qua quid est boni praeter summam voluptatem, et eam sempiternam? Cur id non ita fit? Duo Reges: constructio interrete. Graece donan, Latine voluptatem vocant. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit?
  </p>
</div>
